@import "tailwindcss";

@theme {
  --font-display: "Playfair Display", serif;
  --font-script: "Dancing Script", cursive;
}

body {
  font-family: var(--font-display);
  background-color: #fffefc;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes menuIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
